## üë®‚Äçüíª **Solutions 4.1:** Using Lists

**Basic List Operations:**

1. Create a list called `numbers` containing the integers from `3` to `9`.

2. Print the third element of the numbers list.

3. Change the last element of the numbers list to `20`.

4. Add the number `11` to the end of the numbers list.

5. Remove the number `5` from the numbers list.

**List Slicing:**

6. Create a new list containing the first five elements of the `numbers` list.

7. Create a new list containing every other element from the `numbers` list.

8. Create a new list with the elements of `numbers` in reverse order.

**List Methods:**

9. Sort the `numbers` list in descending order.

10. Find and print the index of the number `7` in the numbers list.

11. Count how many times the number `3` appears in the numbers list.

**List Comprehensions:**

12. Use a list comprehension to create a new list containing the squares of the numbers in the numbers list.

13. Use a list comprehension to create a new list containing only the even numbers from the numbers list.

In [1]:
# 1. Create a list called `numbers` containing the integers from 1 to 10.
numbers = list(range(1, 11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# 2. Print the third element of the `numbers` list.
numbers[2]

3

In [3]:
# 3. Change the last element of the `numbers` list to 20.
numbers[-1] = 20
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

In [4]:
# 4. Add the number 11 to the end of the `numbers` list.
numbers.append(11)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 20, 11]

In [5]:
# 5. Remove the number 5 from the `numbers` list.
numbers.remove(5)
numbers

[1, 2, 3, 4, 6, 7, 8, 9, 20, 11]

*List slicing:*

In [6]:
# 6. Create a new list containing the first five elements of the `numbers` list.
first_five = numbers[:5]
first_five

[1, 2, 3, 4, 6]

In [7]:
# 7. Create a new list containing every other element from the `numbers` list.
every_other = numbers[::2]
every_other

[1, 3, 6, 8, 20]

In [8]:
# 8. Create a new list with the elements of `numbers` in reverse order.
reversed_numbers = numbers[::-1]
reversed_numbers

[11, 20, 9, 8, 7, 6, 4, 3, 2, 1]

*List methods:*

In [9]:
# 9. Sort the `numbers` list in descending order.
numbers.sort(reverse=True)
numbers

[20, 11, 9, 8, 7, 6, 4, 3, 2, 1]

In [10]:
# 10. Find and print the index of the number 7 in the `numbers` list.
numbers.index(7)

4

In [11]:
# 11. Count how many times the number 3 appears in the `numbers` list.
numbers.count(3)

1

*List comprehensions:*

In [12]:
# 12. Use a list comprehension to create a new list containing the squares of the numbers in the `numbers` list.
squares = [n**2 for n in numbers]
squares

[400, 121, 81, 64, 49, 36, 16, 9, 4, 1]

In [13]:
# 13. Use a list comprehension to create a new list containing only the even numbers from the `numbers` list.
evens = [n for n in numbers if n % 2 == 0]
evens

[20, 8, 6, 4, 2]